router static
 address-family ipv4 unicast
{%- for subnet in subnets %}
  {{ subnet }} null0
{%- endfor %}

router bgp {{ asn }}
 address-family ipv4 unicast
{%- for subnet in subnets %}
  network {{ subnet }}
{%- endfor %}
