Value Required neighbor (\d+.\d+.\d+.\d+)
Value version (\d)
Value asn (\d+)
Value msg_received (\d+)
Value msg_sent (\d+)
Value table_version (\S+)
Value inQ (\S+)
Value outQ (\S+)
Value up_down (\S+)
Value state_prefixes (\S+)

Start
  ^Neighbor.* -> Routes

Routes
  # Scrub "Neighbor" line
  ^Neighbor\s+
  #
  # Match lines with actual neighbor information
  ^${neighbor}\s+${version}\s+${asn}\s+${msg_received}\s+${msg_sent}\s+${table_version}\s+${inQ}\s+${outQ}\s+${up_down}\s+${state_prefixes} -> Record
