Value valid ([* ])
Value prefix (\d+\.\d+\.\d+\.[\d\/]+)
Value Required next_hop (\d+\.\d+\.\d+\.\d+)
Value metric (\d*)
Value local_pref (\d*)
Value as_path ([\d ]*)
Value origin ([ie\?])

Start
  ^\s+Prefix.*Next.* -> Routes

Routes
  # Scrub the "Prefix" line
  ^\s+Prefix\s+
  #
  # metric and local pref
  ^\s*${valid}\s*${prefix}\s+${next_hop}\s+${metric}\s+${local_pref}\s*\s\s${as_path}\s${origin} -> Record
  # 
  # Match lines with an assumed prefix
  ^\s*${valid}\s*${next_hop}\s+${metric}\s+${local_pref}\s*\s\s${as_path}\s${origin} -> Record
